<h3>Saved Profiles</h3>
<div class="row">

  <article class="profile"
                *ngFor="let profile of profiles"
                (click)="onLoadProfile(profile)">
      <h4>{{ profile.profileName }}</h4>
      <p>Cities: {{ profile.cities }}</p>
      <span class="delete"
                  (click)="onDeleteProfile($event, profile)">X</span>
  </article>

    <form (ngSubmit)="onSaveNew()">
      <h3>Add New Profile</h3>
        <div class="input-group">
          <input
              type="text"
              [(ngModel)]="newProfile.profileName"
              name="newProfileName"
              placeholder="Name"
              class="col-xs-10 profile-input">
          <input
              type="text"
              [(ngModel)]="newProfile.cities"
              name="newProfileCities"
              placeholder="Add cities"
              class="col-xs-10 profile-input">
            </div>
                <button class="btn btn-primary"
                               type="submit">Save to Profile</button>
            </form>

          <div class="well" *ngIf="weatherItem">
            <h2>{{ weatherItem?.name }}</h2>
            <p><span class="label label-primary">Temp </span>&nbsp;
                {{ weatherItem?.main.temp }}°F</p>
            <p><span class="label label-info">Outlook </span>&nbsp;
                {{ weatherItem?.weather[0].description }}</p>
        </div>
      </div>